.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,body{
  width:100%;
  height:auto;
  margin:0px;
  padding:0px;
  border:none;
  display: flex;
  flex-direction: column; 
  min-height: 80vh;
  font-family: 'Plus Jakarta Sans';
  text-align: center;


}

a{
  text-decoration: none;
}
/*  No se implementa */
.titulo{

  font-weight: bold;
}



/* Todos los botones de la aplicación tendrían este id para el color */
.confirm{
  background-color: #996E65;
  border-radius: 10px;
  color: white;
  width: 28vh;
}

/* Los formularios de registro y de login usan esta clase */
.arepas-form{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
